.main_cart_section {
    width: 100%;
    padding: 48px;
}

.main_cart_parent {
    max-width: 100rem;
    margin: auto;
}

.card_holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card_holder_title {
    padding: 1rem 0;
}

.card_holder_title > span {
    font-size: 15px;
}

.card_parent {
    padding: 30px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #cacaca;
    gap: 15px;
}
.orderDetails {
    
}
.orderDetails>p {
    font-size: 14px;
    font-weight: 500;
}
.orderDetails span {
    font-size: 15px;
    font-weight: 400;
}
.card {
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    gap: 1rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.card_image_container {
    width: 100px;
}

.card_image {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 0.5rem;
}

.card_details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card_details_child {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card_title {
    font-size: 1rem;
    font-weight: 600;
}

.pack_note {
    font-size: 0.7rem;
    font-weight: 500;
}

.card_details_child p {
    font-weight: 500;
    font-size: 12px;
}
.card_details_child span {
    font-size: 13px;
    font-weight: 400;
}

.edit_button_parent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.edit_button_parent button {
    padding: 0.4rem 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    background-color: white;
    border: 1px solid rgb(222, 222, 222);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.edit_button_parent button:active {
    background-color: rgb(231, 231, 231);
    border: 1px solid rgb(180, 180, 180);
}

.edit_button_parent button span {
    font-size: 0.9rem;
    font-weight: 500;
}

.price_parent h3 {
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .main_cart_section {
        padding: 24px;
    }
}

@media screen and (max-width: 780px) {
    .card_holder_title {
        font-size: 0.9rem;
        font-weight: 500;
    }

    .card {
        padding: 1rem;
    }

    .card_details_child {
        padding: 0.2rem 1rem;
    }

    .card_title {
        font-weight: 500;
        font-size: 90%;
    }

    .pack_note {
        font-size: 0.7rem;
    }

    .card_details_child p {
        font-weight: 500;
        font-size: 12px;
    }
    .card_details_child span {
        font-size: 13px;
        font-weight: 300;
    }

    .edit_button_parent {
        gap: 1rem;
    }

    .edit_button_parent button {
        padding: 0.3rem;
        border-radius: 50%;
    }

    .edit_button_parent .move_to_wishlist_button_text {
        display: none;
    }
}
