
.card_wrapper{
    max-width: var(--main-navbar-width);
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}
.mainPage {
    padding: 48px;
}
.errorContainer {
    max-width: 100rem;
    margin: auto;
}
.errorContainer>h1 {
    font-size: 25px;
    margin: 20px 0 15px;
}

.errorContainer>p {
    margin-bottom: 2px;
    font-size: 15px;
}

/* ================= responsive ===================== */

@media screen and (max-width: 1200px){
    .card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.5rem;
    }
    .mainPage {
        padding: 24px;
    }
}