.mainPage {
    width: 100%;
    padding: 48px;
}

.mainContainer {
    max-width: 100rem;
    margin: auto;
}

.mainHeader {
    font-size: 16px;
}
.addressesContainer {
    margin-top: 40px;
}
.addNewAddressButton {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 25px;
    font-weight: 550;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: rgb(55, 55, 55);
}

.addressCardsHolder {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.addressCard {
    border: 1px solid rgb(223, 223, 223);
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.addressCard>p:nth-child(1) {
    font-weight: 450;

}

.cardEvents {
    display: flex;
    gap: 30px;
    margin-top: 15px;
    cursor: pointer;
}

.cardEvents>button {
    background-color: rgb(240, 240, 240);
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(226, 226, 226);
    padding: 8px 25px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
}

.cardEvents>button:hover {
    background-color: rgb(215, 215, 215);
}

.cardEventsIcon {
    color: rgb(45, 45, 45);
    font-size: 15px;
}

/* edit address*/

.editAddressCard {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid rgb(230, 230, 230);
    padding: 15px;
}

.editAddressCard>h2 {
    font-size: 20px;
}

.inputsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.inputContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inputContainer>label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.inputContainer>input,
.inputContainer>select,
.inputContainer>textarea {
    font-size: 15px;
    padding: 15px 10px 10px;
    max-width: 450px;
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);
    font-weight: 500;
}

.checkboxContainer {
    display: flex;
    gap: 10px;
}

.checkboxContainer>input {
    width: 20px;
}

.checkboxContainer>label {
    font-weight: 500;
}

.editAddressCardEventContainer {
    display: flex;
    gap: 30px;
}
.editAddressCardEventContainer>button {
    width: 150px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(225, 225, 225);
    border-radius: 5px;
    transition: all .3s ease;
}
.editAddressCardEventContainer>button:hover {
    background-color: rgb(207, 207, 207);
}

@media screen and (max-width: 1200px) {
    .mainPage {
        padding: 24px;
    }
}

@media screen and (max-width: 768px) {

    /* edit address*/

    .inputContainer>input,
    .inputContainer>select,
    .inputContainer>textarea {
        max-width: 100%;
    }
    .inputContainer>select {
        max-width: 280px;
    }
}